<%# about page %>

<head>
    <link rel="stylesheet" href="/stylesheets/main/about.css">
    <script defer src="/scripts/main/about.js"></script>
</head>

<h2 id="about">coming soon <a id="cmback" href="/">come back</a></h2>