<%# home page %>

<head>
    <link rel="stylesheet" href="/stylesheets/main/home.css">
    <script defer src="/scripts/main/home.js"></script>
</head>

<div id="home">
    <img id="logo" src="/images/BGYM Logo2.png" alt="">
    <h2 class="header">المادة المُضادة</h2>
    <img id="image1" src="/images/antimatter.jpg" alt="">
    <p class="paragraph">لو انت من عشاق افلام الخيال العلمي فأكيد شفت فيلم "angels and demons" واللي مقتبس من رواية بنفس الإسم للكاتب لـ"Dan Brown" والفيلم بيتكلم عن قنبلة مدمرة مصنوعة من المادة المُضادة أو الـ Antimatter ولو شفت الفيلم فأكيد عرفت قد ايه هي ممكن تكون مُدمرة بس ايه رأيك تعرف أكتر عن المادة المضادة.
الفكرة دي اتطرحت بشكل نظري لأول مرة سنة 1928 عن طريق عالم بريطاني أسمه "Paul Dirac" عم ديراك دا كان من الناس اللي بيحاولوا يربطوا بين النسبة وميكانيكا الكم فجاب معادلة من معادلات النسبية الخاصة مع معادلة من معادلات ميكانيكا الكم وقام عامل كوكتيل طلع له معادلة ونتائجها صح مع الإلكترون الموجب والإلكترون السالب، حس بول إن في حاجة غلط في المعادلة ايه الإلكترون الموجب دا؟! 
المهم إن ديراك ملقاش ولا خطأ في المعادلات بتاعته فقام ناشر الفكرة للمجتمع العلمي وقال إن لكل جسيم حولينا جسيم مُضاد له خصائص عكس اللي موجودة في الجسيم الطبيعي وساعتها فكرته اترفضت وفضلت مرفوضة لحد سنة 1932 لما عالم أمريكي اسمه "Carl D. Anderson" اكتشف جسيم شبة الإلكترون ولكن شحنته موجبة وسموه البوزيترون ومع الوقت بدأنا نكتشف باقي الجسيمات المُضادة.</p>
    <h2 class="headline"> ازاي اتكونت؟!</h2>
    <p class="paragraph">
        
المادة المُضادة دي بتتكون نتيجة تصادم جسيمات زي النيترونات مع بعضها بس لازم تكون سريعة جدًا لدرجة قريبة من سرعة الضوء زي ما بيحصل في سيرن كدا وتكلفة إنتاجها غالية جدًا فعلي سبيل المثال جرام البوزيترونات تكلفته حوالي 25 مليار دولار.

وبما إن الظروف اللي العُلماء بيحاولوا يعملوها في سيرن هي نفسها الظروف اللي كانت موجودة لحظة الإنفجار العظيم فالعلماء متأكدين إن اللحظات الأولى للكون شهدت تكون كميات هائلة من المادة المُضادة.

وفي النقطة دي تحديدًا نظريات كتير زي مثلًا إن في البداية الكون كان 50% مادة و50% مادة مضادة ولسبب ما متفعلوش مع بعض وإن كمية المادة المضادة دي موجودة في مكان ما في الكون بتاعنا أو إن كان في خلل في تكوين الكون في لحظاته الأولي خلته يُنتج كمية من المادة أكبر من المادة المُضادة والنظرية دي هي الأكثر قبولًا في المجتمع العلمي ومعروفة بإسم فرضية عدم التماثل الباريوني.

    </p>
    <h2 class="headline"> أول ذرة مُضادة </h2>
    <p class="paragraph">
في سنة 1995 العلماء في سيرن قدروا أنهم يصنعوا ذرات الهيدروجين المُضادة واللي بتتكون من بروتون سالب حولية بوزيترون أو إلكترون موجب.
    </p>
    <a id="more" class="link more" href="#more" onclick="more()">اقرأ المزيد</a>
    <p id="reset" class="paragraph"><br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة<br> التكملة</p>
    <a id="less" class="link more" href="" onclick="more()">أظهر أقل</a>
    <h2 class="row-title"></h2>
    <div id="socialMedia">
        <a class="link" href="https://www.facebook.com/Braain.GYM/" target="_blank" id="facebook">facebook</a>
        <a class="link" href="https://www.instagram.com/braingym2020/" target="_blank" id="instagram">instagram</a>
        <a class="link" href="https://youtube.com/channel/UCJWLpI3LcIS7x6cK16lu2zA" target="_blank" id="youtube">youtube</a>
    </div>
    <a class="link more" href="/about">حول Brain GYM</a>
</div>