<%# ejs layout %>

<!DOCTYPE html>
<html dir="rtl" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" data-features="Web Components V0">
        <meta name="theme-color" content="default">
        <link rel="stylesheet" href="/stylesheets/layout.css">
        <script defer src="/scripts/layout.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="app">
                <%- body %>
            </div>
        </div>
    </body>
</html>